body
{
	/*Background and general appearance of the main page*/
	background-color: powderblue;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 0%;
	margin-bottom: 0%;

	/*General text settings*/
	text-align: justify;
	font-family: 'Courier New', monospace;

	/*Display general settings*/
	display: grid;
  	grid-template-rows: auto 1fr auto;
}

	/*Particular text cases*/
h4
{
	color:  darkblue;
	font-size: 115%;
}

header
{
	text-align: center;
	color: lightgrey;

	min-height: 25px;
	background: slateblue;
	margin-left: 0%;
	margin-right: 0%;
}
