body
{
	/*Background and general appearance*/
	background-color: black;
	margin-right: 5%;
	margin-left: 5%;

	/*General text settings*/
	text-align: justify;
	font-family: 'Courier New', monospace;
	colopr: green;

	/*Display general settings*/
	display: grid;
  	grid-template-rows: auto 1fr auto;
}

	/*Particular text cases*/
h4 { color: forestgreen; font-size: 115%; }
h3 { color: forestgreen; font-size: 125%; }
p, pre, dt{ color: lightgreen; }
dd{	font-size: 95%;	color: lightgreen; }

footer
{
	text-align: center;
	color: lightgreen;

	min-height: 25px;
	background: darkslategrey;
	margin-left: 0%;
	margin-right: 0%;
}

/* Link colors  */
a:link {
  color: forestgreen;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: lightgreen;
  background-color: transparent;
  text-decoration: underline;
}