body
{
	/*Background and general appearance*/
	background-color: black;
	margin-right: 5%;
	margin-left: 5%;

	/*General text settings*/
	text-align: justify;
	font-family: 'Courier New', monospace;
	colopr: green;

	/*Display general settings*/
	display: grid;
  	grid-template-rows: auto 1fr auto;
}

	/*Particular text cases*/
h4 { color: forestgreen; font-size: 115%; }
p, pre{ color: lightgreen; }

header
{
	text-align: center;
	color: lightgreen;

	min-height: 25px;
	background: darkslateblue;
	margin-left: 0%;
	margin-right: 0%;
}